<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/waves/waves.min.js"></script>

<script src="/vendor/owlcarousel/js/owl.carousel.min.js"></script>
<script src="/js/plugins/owl-carousel-init.js"></script>
<script src="/vendor/scrollit/scrollIt.js"></script>
<script src="/js/plugins/scrollit-init.js"></script>

<!-- Chart sparkline plugin files -->
<script src="/vendor/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="/js/plugins/sparkline-init.js"></script>

<script src="/vendor/validator/jquery.validate.js"></script>
<script src="/vendor/validator/validator-init.js"></script>
<script src="/js/scripts.js"></script>
</body>


<!-- Mirrored from quixlab.com/demo/tradient/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Jul 2020 17:49:41 GMT -->
</html>