<%- include('header'); -%>

    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>

    <div id="main-wrapper">

        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <nav class="navbar navbar-expand-lg navbar-light px-0 justify-content-between">
                            <a class="navbar-brand" href="index.html"><img src="/images/w_logo.png" alt="">
                                <span>Tradient</span></a>

                            <div class="dashboard_log">
                                <div class="d-flex align-items-center">
                                    <div class="header_auth">
                                        <a href="signin" class="btn btn-success  mx-2">Đăng Nhập</a>
                                        <a href="signup" class="btn btn-outline-primary  mx-2">Đăng xuất</a>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>


        <div class="authincation section-padding">
            <div class="container h-100">
                <div class="row justify-content-center h-100 align-items-center">
                    <div class="col-xl-4 col-md-6">
                        <div class="auth-form card">
                            <div class="card-body">
                                <a class="page-back text-muted" href="otp-1"><span><i
                                            class="fa fa-angle-left"></i></span>Trở về</a>
                                <h3 class="text-center">Mã xác minh OTP</h3>
                                <p class="text-center mb-5">Chúng tôi sẽ gửi mã một lần vào số này</p>
                                <form method="POST">
                                    <div class="form-group">
                                        <label>Mã OTP của bạn</label>
                                        <input type="text" class="form-control text-center font-weight-bold" placeholder="0285" name="sms">
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-success btn-block">Verify</button>
                                    </div>
                                </form>
                                <div class="info mt-3">
                                    <p class="text-muted">Bạn không nên lưu mật khẩu vào trình duyệt!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <div class="footer-link text-left">
                            <a href="#" class="m_logo"><img src="/images/w_logo.png" alt=""></a>
                            <a href="about">About</a>
                            <a href="privacy-policy">Privacy Policy</a>
                            <a href="term-condition">Term & Service</a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 text-lg-right text-center">
                        <div class="social">
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-xl-12 text-center text-lg-right">
                        <div class="copy_right text-center text-lg-center">
                            Copyright © 2019 Quixlab. All Rights Reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="bg_icons"></div>

<%- include('footer'); -%>
